In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [9]:
# df = pd.read_csv('/home/biniyam/dwh-project-UAV/data/week2data.csv', sep="[,;:]") 

with open ('/home/biniyam/dwh-project-UAV/data/week2data.csv') as file:
    lines = file.readlines()

In [10]:
lines[0]

'track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time\n'

In [11]:
lines_as_lists = [line.strip('\n').strip().strip(';').split(';') for line in lines]
cols = lines_as_lists.pop(0)

In [12]:
vehicle_col = cols[:4]
trejictory_col = ['track_id'] + cols[4:]

print(vehicle_col)
print(trejictory_col)

['track_id', ' type', ' traveled_d', ' avg_speed']
['track_id', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [13]:
track_info = []
trajectory_info = []

for row in lines_as_lists:
    track_id = row[0]
    track_info.append(row[:4])
    remaining_values = row[4:]
    trajectory_matrix = [ [track_id] + remaining_values[i:i+6] for i in range(0,len(remaining_values),6)]
    trajectory_info = trajectory_info + trajectory_matrix

In [14]:
vehicle_data = pd.DataFrame(track_info, columns=vehicle_col)
trajectory_data = pd.DataFrame(trajectory_info, columns=trejictory_col)

In [15]:
vehicle_data.head(10)

  track_id             type  traveled_d   avg_speed
0        1              Car       48.85    9.770344
1        2       Motorcycle       98.09   19.839417
2        3       Motorcycle       63.80   18.228752
3        4       Motorcycle      145.72   26.229014
4        5       Motorcycle      138.01   24.841425
5        6   Medium Vehicle      159.97   17.451502
6        7       Motorcycle      153.91   22.895895
7        8              Car      158.21   21.739084
8        9              Car      161.01   21.154471
9       10              Car      159.53   18.891989

In [16]:
trajectory_data.head(10)

  track_id         lat         lon    speed   lon_acc   lat_acc       time
0        1   37.977391   23.737688   4.9178    0.0518   -0.0299   0.000000
1        1   37.977391   23.737688   4.9207   -0.0124   -0.0354   0.040000
2        1   37.977391   23.737688   4.9160   -0.0519   -0.0413   0.080000
3        1   37.977390   23.737688   4.9057   -0.0914   -0.0478   0.120000
4        1   37.977390   23.737689   4.8871   -0.1679   -0.0550   0.160000
5        1   37.977389   23.737689   4.8547   -0.2815   -0.0628   0.200000
6        1   37.977389   23.737689   4.8033   -0.4320   -0.0713   0.240000
7        1   37.977388   23.737690   4.7318   -0.5617   -0.0804   0.280000
8        1   37.977388   23.737690   4.6442   -0.6543   -0.0905   0.320000
9        1   37.977388   23.737690   4.5437   -0.7413   -0.1017   0.360000

In [17]:
trajectory_data.shape

(1446887, 7)

In [18]:
vehicle_data.shape

(922, 4)

In [19]:
trajectory_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1446887 entries, 0 to 1446886
Data columns (total 7 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   track_id  1446887 non-null  object
 1    lat      1446887 non-null  object
 2    lon      1446887 non-null  object
 3    speed    1446887 non-null  object
 4    lon_acc  1446887 non-null  object
 5    lat_acc  1446887 non-null  object
 6    time     1446887 non-null  object
dtypes: object(7)
memory usage: 77.3+ MB

In [21]:

trajectory_data.isnull().sum()

track_id    0
 lat        0
 lon        0
 speed      0
 lon_acc    0
 lat_acc    0
 time       0
dtype: int64