In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('/home/biniyam/dwh-project-UAV/data/week2data.csv', index_col=False, delimiter='; ')

/tmp/ipykernel_26690/3182726647.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('/home/biniyam/dwh-project-UAV/data/week2data.csv', index_col=False, delimiter='; ')
/tmp/ipykernel_26690/3182726647.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv('/home/biniyam/dwh-project-UAV/data/week2data.csv', index_col=False, delimiter='; ')

In [3]:
df.head(10)

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.0
1,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.0
2,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.0
3,4,Motorcycle,145.72,26.229014,37.978135,23.737072,2.7555,-0.0302,0.0948,0.0
4,5,Motorcycle,138.01,24.841425,37.978134,23.737103,0.0000,0.0000,0.0000,0.0
5,6,Medium Vehicle,159.97,17.451502,37.978152,23.737120,0.0000,0.0000,0.0000,0.0
6,7,Motorcycle,153.91,22.895895,37.978145,23.737161,0.0000,0.0000,0.0000,0.0
7,8,Car,158.21,21.739084,37.978230,23.737089,0.0000,0.0000,0.0000,0.0
8,9,Car,161.01,21.154471,37.978185,23.737128,0.0000,0.0000,0.0000,0.0
9,10,Car,159.53,18.891989,37.978190,23.737050,4.0538,0.1084,-0.0000,0.0

In [9]:
import psycopg2

In [12]:
conn = psycopg2.connect(dbname='dwh', user='postgres', password='heisenberg', host='localhost', port='5432')

In [13]:
cursor = conn.cursor()

In [16]:
create_table_query = '''
    CREATE TABLE IF NOT EXISTS uav_drones;'''
cursor.execute(create_table_query)

SyntaxError: syntax error at or near ";"
LINE 2:     CREATE TABLE IF NOT EXISTS uav_drones;
                                                 ^

In [20]:
engine = create_engine('postgresql+psycopg2://postgres:heisenberg@localhost:5432/dwh')
table_name = 'uav_drones'
df.to_sql(table_name, engine, if_exists='replace', index=False)

922